table {
  border: solid thin;
  text-align: center;
  border-collapse: collapse;
}

th, td {
  border: solid thin;
  padding: 0.5rem 2rem;
}

tr {
  display: table-row;
}

td {
  vertical-align: top; 
}
